{% extends 'base.html.twig' %}

{% block body %}

<div id="email">
  <div class="container">
    <div class="row justify-content-center">
      <div class="alert alert-light" role="alert">
        <h1 class="alert-heading">La page que vous cherchez n'existe pas !</h1>
        <h2>404</h2>
        <a class="btn btn-info"href="/">Retourner à la page d'accueil</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
