{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous - Atelier Relationnel{% endblock %}

{% block body %}
  <div id="about">
    <div class="container-fluid">
      <div class="main-image row">
        <div class="bcg-parallax">
          <h3>Embellir, restaurer ou consolider nos relations</h3>
        </div>
      </div>
    </div>
    <div class="container-fluid block-pin">
      <div class="container">
        <div class="content">
          <h1>Qui sommes-nous ?</h1>
          <div class="block2 animated opacity">
            <h2>Monique DUCARRE</h2>
            <p>En 2003 avec mon mari j'ai rencontré Nicole Sarradon (Psychothérapeute, Enseignante R.E.®) qui nous a aidé à améliorer notre relation de couple avec la méthode R.E.®. Très vite j'ai observé que les outils de R.E.® m'étaient aussi d'une grande aide dans mon activité d'animatrice dans un centre d'accueil de femmes en difficulté (CHRS).</p>
            <p>J'ai entrepris la formation de Praticien R.E.®. Au fur et à mesure que J'avançais dans mon apprentissage de R.E.®, mes relations avec les résidentes du CHRS sont devenues plus faciles et plus vraies. J'ai pu aussi expérimenter la puissance des outils R.E.® pour désamorcer les conflits fréquents entre les résidentes et/ou entre une résidente et l'équipe éducative. Petit à petit dans le quotidien des activités que j'animais, j'ai pu par "petites touches" entrainer les résidentes à écouter pleinement et dire ce qu'elles avaient à dire de façon à se sentir entendues et à être entendues.</p>
            <p>Dans ma vie personnelle, mes relations ont changé de « couleur», elles sont de plus en plus vraies, plus respectueuses, plus riches. L'utilisation de R.E.® depuis des années m'a fait évoluer au plus profond de moi-même.</p>
            <p>Convaincue par mon expérience de la pertinence de R.E.® , cela fait 10 ans que je participe activement à organiser le développement de la Méthode R.E.® en France au sein de l'Institut Francophone de la Relation (IFRE) ( www.ifre.info) dont c'est le but. </p>
            <p>Depuis 2014, transmettre R.E.® est devenu mon activité principale. Plus j'utilise R.E.®, plus je l'enseigne et plus je me forme encore, plus je perçois la puissance et la subtilité de cet outil, qui de mon point de vue devrait être enseigné à tous dès l'enfance !</p>
            <p>Ce que j'apprécie beaucoup dans la méthode R.E.® c'est qu'elle est accessible à tous public quelque soit l'âge et le niveau d'instruction. En donnant des outils qui permettent d'améliorer les relations , elle contribue au "mieux vivre ensemble".</p>
          </div>
          <div class="block2 animated opacity">
            <h2>AnneLaurence DOMBRE</h2>
            <p>C’est lorsque j’étais Infirmière Coordinatrice dans un réseau de Soins Palliatifs que j’ai découvert la méthode RE qui m’est rapidement apparue comme une grande valeur ajoutée dans la communication.</p>
            <p>J’ai alors voulu me former pour l’utiliser au mieux dans l’accompagnement de personnes en grande vulnérabilité.</p>
            <p>Cela m’a permis d’approfondir encore la qualité de mon écoute empathique et m’a beaucoup aidé dans l’accompagnement des malades et de leurs familles. Mes relations personnelles aussi ont été transformées et enrichies.
            J’apprécie beaucoup la qualité des relations que je sens plus profondes avec RE. J’aime aussi beaucoup ce choix que j’ai d’utiliser ou non la méthode !</p>
            <p>Aussi je suis heureuse de pouvoir transmettre cette méthode et donner les moyens à chacun de devenir autonome dans son utilisation.</p>
          </div>
          <h3>L'Atelier RElationnel</h3>
          <p>Association Loi 1901, membre de <span><a href="http://www.ifre.info" target="_blank">l’Institut Francophone de la Relation - IFRE</a></span> - organisme référent de R.E.® en France et dans les pays francophones.  SIRET n° 817 889 918 00014</p>
          <p>IFRE est affilié à <span><a href="http://www.nire.org" target="_blank">IDEALS / NIRE</a></span> au USA</p>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
