{% extends 'base.html.twig' %}

{% block body %}
<div id="admin">
  <div class="container">
    <h1>Creation et modification de dates</h1>
    <div class="row">
      <div class="col-12">
        <h2>Stage A1</h2>
        <p>Dates:</p>
        <ul>
          {% for stage_a1 in stage_a1_dates %}
              <li>{{ stage_a1.date }} <a class="btn btn-warning" href="admin/{{stage_a1.id}}/edit">editer</a> <a class="btn btn-danger" href="#"> eliminer</a></li>
          {% endfor %}
        </ul>
        <a class="btn btn-primary" href="{{ path('admin_create')}}">Ajouter une nouvelle date</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2>Stage A2</h2>
        <p>Dates:</p>

      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2>Stage B</h2>
        <p>Dates:</p>

      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2>Ateliers</h2>
        <p>Dates:</p>

      </div>
    </div>
    <br>
    <br>

  </div>
</div>
{% endblock %}
