{% extends 'base.html.twig' %}

{% block title %}Témoignage AnneLaurance - Atelier Relationnel{% endblock %}

{% block body %}


<div id="anne">
  <div class="container">
    <div class="row">
      <div class="content">
        <h2>Témoignage AnneLaurence Dombre, Infirmière coordinatrice</h2>
        <p>"Je suis infirmière et je travaille auprès de personnes malades en fin de vie.</p>
        <p>J’ai rencontré RE grâce à une amie et c’est quand j’ai expérimenté par moi-même le confort et le soulagement de me sentir complètement compris que j’ai décidé de me former à cette méthode pour l’utiliser dans les relations avec les personnes que nous suivons en SP.</p>
        <p>Être en empathie avec la personne que j'accompagne est, pour moi, la base de la relation soignante. </p>
        <p>J’ai observé que je pratiquais l'écoute empathique le plus souvent sans m'en rendre compte et un de mes objectifs a été de l'utiliser consciemment dans ces relations particulières que nous vivons dans les temps de la fin de vie.</p>
        <p>RE m'a donné un outil qui a vraiment changé ma relation à l'autre en profondeur, d'abord dans mon cadre professionnel puis ça s'est étendu dans ma vie personnelle aussi!</p>
        <p><span>La première chose qui m’a aidé, c'est vérifier systématiquement auprès de la personne si j'ai bien compris ce qu'elle veut me dire.</span></p>
        <p>Quand je vérifie auprès de la personne si j'ai bien compris ce qu'elle veut me dire, ça lui permet de confirmer,  de corriger ou de  compléter sa pensée. </p>
        <p> J’ai observé que cela l'amène aussi à préciser tel ou tel point qu'il lui semble que je n'ai pas bien capté et cette précision l’entraîne elle-même dans un niveau plus profond, l'aide à mettre des mots sur un ressenti qui est présent mais parfois pas encore nommé, et encore moins exprimé. Cela met à jour le niveau sous-jacent et l'émotion ou les émotions qui y sont reliées.</p>
        <p>Les échanges à ce niveau me propulsent dans l'intimité de la personne très rapidement et nous amène à des échanges d'une grande profondeur. J’ai observé combien les personnes s'emparent de cet espace pleinement et je sens combien c'est précieux pour elles.</p>
        <p>Pour moi, elle me permet de m'assurer que je n'ai pas interprété les propos, ni projeté ma propre vision de ce qu'elle m'a dit.</p>
        <p><span>La 2ème chose qui m'a aidée c'est la distance professionnelle</span></p>
        <p>Dans cette étape des soins palliatifs et de la fin de vie, dans l'accompagnement, je n'ai rien à faire. J’entre en relation avec l'autre, malade en fin de vie, avec ce que je suis, sans protection (je n'ai ni blouse, ni aucun acte à faire).</p>
        <p>Alors la violence de la situation et l'insupportable de la mort peut me percuter de plein fouet.</p>
        <p>La personne a le besoin profond d'exprimer ce qui est pour elle l'essentiel et dévoile une intimité fragile et authentique. Ça touche à des émotions intenses et profondes qui vont venir faire résonner mon propre vécu émotionnel. Il est alors difficile de me protéger sans m'éloigner et de maintenir la sécurité nécessaire pour que la personne puisse se dire.</p>
        <p>J’ai trouvé dans RE l'outil qui m'a aidé à recevoir sans me fermer.</p>
        <p>Me centrer sur la personne pour comprendre au-delà des mots ce qu'elle ressent, m'aide à mettre mon propre ressenti de côté pour être complètement présente à l'autre dans l'instant. Étant toute entière attentive à l'autre, mon ressenti passe au 2ème plan et ne m'envahit pas et n'interfère pas dans l'échange."</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
