{% extends 'site/menu2.html.twig' %}
  {% form_theme formStageA1 'bootstrap_4_layout.html.twig' %}

{% block body %}

  {% if editMode %}
    <h1>Mettre à jour les dates</h1>
  {% else %}
    <h1>Creation de dates</h1>
  {% endif %}


<div class="container">
  {{form_start(formStageA1)}}
  <!--{{ form_errors(formStageA1.date)}}
  { form_label(formStageA1.date, 'Your name') }}-->
  {{form_row(formStageA1.date, {'attr': {'placeholder' : "Entrez les informations"}})}}
  <button type="submit" class="btn btn-success" name="enregister">
    {% if editMode %}
      Enregistrer
    {% else %}
      Ajouter la date
    {% endif %}
  </button>
  {{ form_end(formStageA1) }}
</div>


{% endblock %}
