
<h2>Email reçu du formulaire de contact du Site Web ARE</h2>
<h3>Prise de contact</h3>
<p>Prenom et nom : {{name}}</p>
<p>Email : {{email}}</p>
<p>Objet : {{object}}</p>
<p>Message : {{message}}</p>
