{% extends 'base.html.twig' %}

{% block body %}

<div id="email">
  <div class="container">
    <div class="row justify-content-center">
      <div class="alert alert-light" role="alert">
        <h1 class="alert-heading">Votre message a été envoyé !</h1>
        <h2>Merci de nous écrire.</h2>
        <hr>
        <h3>Nous vous répondrons dans les meilleurs délais.</h3>
      </div>
    </div>
  </div>
</div>

{% endblock %}
