
{% extends 'base.html.twig' %}

{% block title %}Formations - Atelier Relationnel{% endblock %}

{% block body %}
  <div id="formations">
    <div class="container-fluid">
      <div class="main-image row">
        <div>
          <h3>Découvrez RE outil concret, précis, à la fois simple et puissant</h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <h1>Les Formations</h1>
        <h3>Vous souhaitez développer ou améliorer votre manière d’être en relation dans votre couple, en famille, avec vos amis, vos voisins… dans votre cadre professionnel , dans vos activités bénévoles… Dans les formations que nous vous proposons, vous découvrirez les outils de la Méthode R.E.® au travers d'exercices précis et concrets.</h3>
        <h2>Vous expérimenterez :</h2>
        <ul>
          <li>De vous sentir écouté pleinement.</li>
          <li>Comment écouter de façon à ce que l'autre se sente pleinement entendu, compris et respecté.</li>
          <li>Comment dire les choses de manière à ce que l’autre vous entende vraiment sans qu'il se sente attaqué ou jugé.</li>
          <li>Comment discuter avec l'autre de façon à permettre un dialogue respectueux où chacun se sente entendu et compris même si vous n’êtes pas d’accord.</li>
          <li>Comment résoudre un «problème».</li>
        </ul>
      </div>
    </div>
    <div class="container-fluid options">
        <div class="row">
          <div class="lignes col-3 col-md-4">
            <div></div>
            <div></div>
          </div>
          <h2 class="col-6 col-md-4">Nos Propositions</h2>
          <div class="lignes col-3 col-md-4">
            <div></div>
            <div></div>
          </div>
      </div>
      <div class="container">
        <div class="buttons-main">
            <a href="{{path('stages')}}"><i class="fas fa-users"></i> Stages</a>
            <a href="{{path('ateliers')}}"><i class="fas fa-comments"></i> Ateliers <br/>d’entraînement</a>
        </div>
      </div>
      <p></p>
    </div>
    <div class="content container">
      <h3><span>Notre objectif est de vous rendre autonome dans l’utilisation de ces outils.</span></h3>
      <p>Si vous souhaitez avoir des informations sur le cursus de certification pour devenir Praticien RE, consulter le site de</p>
      <p><span><a href="http://www.ifre.info" target="_blank">l'Institut Francophone de la Relation (IFRE)</a></span></p>
    </div>
    <div class="container-fluid">
      <div class="comments row">
        <div class="comment col-12 col-md-6">
          <div>
            <p class="quotes-start-orange quotes-end-orange">Avec R.E.® , j’ai capté et surtout ressenti le confort et le soulagement de me sentir comprise si profondément.</p>
            <p><span>Anne</span></p>
          </div>
        </div>
        <div class="comment col-12 col-md-6">
          <div class="">
            <p class="quotes-start-blue quotes-end-blue">J'ai grandement apprécié que cette formation se fasse dans la bienveillance et développe l'empathie: une technique simple qu'il faut néanmoins s'approprier.</p>
            <p><span>Anne-Marie</span></p>
          </div>
        </div>
      </div>
    </div><!--end of comments-->


  </div>
{% endblock %}
