{% extends 'base.html.twig' %}

{% block title %}Atelier Relationnel{% endblock %}

{% block body %}

<div id="home">

  <div class="container-fluid">
    <div class="slider row">
      <div class="image-1">
        <div class="caption">
          <p>Apprendre à mieux communiquer</p>
        </div>
      </div>
      <div class="image-2">
        <div class="caption">
          <p>Embellir, restaurer ou consolider nos relations</p>
        </div>
      </div>
      <div class="image-3">
        <div class="caption">
          <p>Prendre soin de nos relations et de nous-même</p>
        </div>
      </div>
      <div class="image-4">
        <div class="caption">
          <p>Découvrez RE outil concret, précis, à la fois simple et puissant</p>
        </div>
      </div>
    </div>
  </div>



  <div class="container">
    <h1>Expérimentez l'art de la relation avec l'Atelier Relationnel </h1>
    <h3 class="animated opacity">Nous vous invitons à découvrir la Méthode R.E.®<br>Un outil concret, précis, à la fois simple et puissant pour faciliter nos relations.</h3>
    <div class="catchphrase opacity animated">
      <h2>Écouter,  Dire,  Être en relation<br/><span>en prenant soin de soi, de l’autre et ... de la relation.</span></h2>
    </div>
    <div class="buttons-main animated opacity">
        <a class="methode animated" href="{{path('methode')}}">la Méthode R.E.®</a>
        <a class="formations animated" href="{{path('formations')}}">Formations</a>
    </div>
  </div>
  <div class="container-fluid">
    <div class="comments row">
      <div class="comment animated col-12 col-md-6">
        <div class="">
          <p class="quotes-start-orange quotes-end-orange">Pour avoir suivi et expérimenté la méthode R.E.®, j'ai pris conscience qu'elle apportait un enrichissement important aux autres techniques de communication, en introduisant une vraie empathie dans la relation.</p>
          <p><span>Georges</span></p>
          <br/>
          <p class="quotes-start-orange quotes-end-orange">L’apprentissage de R.E.® m’a permis de découvrir à quel point les relations en sont facilitées : L’autre est entendu et reconnu, notre message est bien reçu et compris. Quel outil génial !!!</p>
          <p><span>Sylvie</span></p>
        </div>
      </div>
      <div class="comment animated col-12 col-md-6">
        <div class="">
          <p class="quotes-start-blue">J'ai décidé de faire une formation RE pour être plus à même de m'occuper de  ma mère vieillissante. Je me rendais compte que je n'avais pas le bon comportement et la bonne écoute face à sa maladie. <br/>RE m'a donné les outils et la bonne énergie pour l' écouter avec empathie. Cette formation a été déterminante dans ma vie, elle m'a aidé à me sentir mieux, plus en phase avec mon entourage. ( mari, enfants, petits-enfants, amis )</p>
          <p class="quotes-end-blue"> Mon mari suit actuellement cette formation, et j'en suis très heureuse car notre relation s'en trouve très enrichie.!</p>
          <p><span>Christine</span></p>
        </div>
      </div>
    </div>
  </div><!--end of comments-->
</div><!--end of div home-->


{% endblock %}
