{% extends 'base.html.twig' %}

{% block body %}

<div id="mentions" class="container">
  <div class="content">

    <h1>Mentions légales</h1>
    <h3>Éditeur</h3>
    <p>Editeur : <span>L'Atelier RElationnel ARE</span></p>
    <p>Siège social : 11 rue Carnot -30150- Roquemaure FRANCE</p>
    <p>Hébergeur : OVH</p>
    <p>Réalisation : <span><a href="https://jessicapineros.com/" target="_blank">Jessica Pineros Droin</a></span></p>
    <h3>Mentions légales</h3>
    <p>Le présent document constitue les conditions générales d’utilisation du site accessible sous l’adresse « https://atelierrelarionel.fr » (ci-après dénommé le « Site »). Conception et réalisation : <a href="https://jessicapineros.com/" target="_blank">Jessica Pineros Droin</a>. En accédant ou en utilisant ce Site, vous êtes réputé accepter ces conditions générales et nous nous réservons le droit de refuser l’accès à tout ou partie du Site à tout utilisateur qui ne les respecterait pas. Vous vous engagez par ailleurs à ne pas adresser ou transmettre des textes ou images contraires à la loi, ou susceptibles de choquer la sensibilité, notamment par un contenu haineux, pornographique, ou incitatif à des comportements du même ordre. ARE se réserve le droit de prendre toute mesure, ou d’engager toute action qu’elle estime nécessaire au cas où son Site serait utilisé pour diffuser des éléments de cette nature. Nous vous informons que le Site est soumis au droit français, aux juridictions françaises et qu’il a pour langue officielle le français.</p>
    <h3>Propriété intellectuelle</h3>
    <p>La structure générale, les textes, images animées ou non et tous les éléments composant ce site Web, sont protégés et relèvent de la législation française et internationale sur le droit d’auteur et la propriété intellectuelle. Tous les droits de reproduction sont réservés, y compris pour les documents téléchargeables et les représentations iconographiques et photographiques. Toute utilisation quelle qu’elle soit de la marque ARE et de son logo, ainsi que les noms commerciaux détenus par ARE et/ou ses partenaires est interdite sans l’autorisation des titulaires des droits. Toute représentation ou reproduction totale ou partielle de ce site ou d’un de ses éléments sans autorisation expresse et préalable de ARE est interdite. Toute représentation ou reproduction de ce site, par quelque procédé que ce soit, constituerait une contrefaçon.</p>
    <h3>Données à caractère personnel</h3>
    <p>Les informations nominatives communiquées par les utilisateurs à ARE par l’intermédiaire de demandes d’informations sur les produits ou services offerts par la société, par des formulaires ou par des questionnaires mis en ligne renseignés par les utilisateurs sont nécessaires/obligatoires pour le traitement de ces demandes d’information, de ces formulaires ou de ces questionnaires. Elles sont destinées au à ARE et ses filiales ou a ses sous-traitants et/ou ses prestataires pour des besoins de gestion. Elles ne seront communiquées a des tiers que pour satisfaire aux obligations légales et réglementaires. En communiquant leur(s) numéro(s) de téléphone, fax, adresse ou leur adresse e-mail, les utilisateurs acceptent que ARE leur adresse des informations par téléphone, fax, courrier ou e-mail. Dans le cas contraire, l’utilisateur peut user de son droit d’accès, de rectification, de suppression et d’opposition selon les modalités prévues ci-après.</p>
    <h3>Disponibilité du site web</h3>
    <p>Il est techniquement impossible de fournir le Site exempt de tout défaut et ces défauts peuvent conduire à l’indisponibilité temporaire du Site ; le fonctionnement du Site peut être affecté par des événements et/ou des éléments que nous ne contrôlons pas, tels que par exemple, des moyens de transmission et de communication entre vous et nous et entre nous et d’autres réseaux ; nous et/ou nos fournisseurs pourrons, à tout moment, modifier ou interrompre temporairement ou de façon permanente tout ou partie du Site pour effectuer des opérations de maintenance et/ou effectuer des améliorations et/ou des modifications sur le Site. Nous vous informerons, si possible, de chaque modification/interruption des services disponibles sur le Site. Nous ne sommes pas responsables de toute modification, suspension ou interruption du Site.</p>
  </div>
</div>




{% endblock %}
