{% extends 'base.html.twig'%}

{% block title %}Methode - Atelier Relationnel{% endblock %}

{% block body %}
<div id="methode">
  <div class="container-fluid">
    <div class="main-image row">
      <div class="">
        <h3>Prendre soin de nos relations et de nous-même</h3>
      </div>
    </div>
  </div>
  <div class="container-flud block-pin">
    <div class="container ">
      <h1>La méthode R.E.®</h1>
      <div class="catchphrase animated opacity">
        <h2>Écouter,  Dire,  Être en relation<br/><span>en prenant soin de soi, de l’autre et ... de la relation.</span></h2>
      </div>
      <div class="content">
        <div class="block2 opacity animated">
          <h2>C'est quoi ?</h2>
          <p>R.E.® est une méthode d’apprentissage qui donne des outils concrets et accessibles à tous,  sans pré-requis ou niveau d'étude particulier.</p>
          <p>L’apprentissage se fait au travers d’exercices précis puis par un entraînement régulier. Il se fait, au pas à pas, dans l’ici et maintenant. Il ne demande pas de remonter dans le passé.</p>
          <ul>
            <li><span>Cette méthode enseigne 10 « capacités » (savoir-faire).</span></li>
          </ul>
          <p>Les 2 premières (comment écouter et comment dire) sont les piliers de la méthode R.E.®  que l’on retrouve dans toutes les autres capacités.</p>
        </div>
        <div class="block2 opacity animated">
          <h2>C'est pour qui?</h2>
          <img class="d-none d-md-block" src="/img/who4.svg" alt="C'est pour tous">
          <p></p>
          <p>C'est pour nous tous qui voulons améliorer nos relations </p>
          <p>Personnes seules, couples, familles, bénévoles d’associations, professionnels. Elle est notamment un outil précieux pour toutes les personnes pour lesquels la relation est  un élément majeur de l’activité. R.E.® est accessible à tout le monde, quelque soit l’âge et le niveau d’instruction.</p>
        </div>
        <div class="comments">
          <div class="comment-circle block1 opacity animated">
            <p class="quotes-start-blue quotes-end-blue">Avec R.E.® , j'observe que mes relations changent de «couleur», elles sont plus vraies, plus  respectueuses, plus riches.</p>
            <p><span>Monique</span></p>
          </div>
        </div>
        <div class="block2 opacity animated">
          <h2>Ça sert à quoi ?</h2>
          <p>La méthode RE nous permet de <span>développer des savoir-être et des savoir-faire</span> pour enrichir et approfondir nos compétences relationnelles, notamment :</p>
          <ul>
            <li><span>Notre capacité d'écoute et de compréhension de l'autre</span> c’est à dire se mettre au plus près de lui, de son ressenti, de ce qu’il pense, de ce qu’il veut, de ce qui l'anime.</li>
            <li><span>Notre capacité de perception</span> de nos propres besoins, de nos émotions et de ce qui est en jeu dans la relation.</li>
            <li><span>Notre capacité d’expression</span> en étant authentique et clair tout en n'éveillant pas des réactions agressives ou défensives chez l'autre.</li>
            <li><span>Notre capacité à communiquer</span> en privilégiant l'intention qui nous porte tout en prenant en compte les différences de perception, d’attentes et d’objectifs de chacun.</li>
            <li><span>Notre capacité à créer, entretenir et approfondir</span> des relations satisfaisantes et constructives, sincères et harmonieuses.</li>
            <li><span>Notre capacité à gerer les conflits.</span></li>
          </ul>
          <p>Toutes ces capacités permettent aussi de restaurer des relations endommagées (personnelles ou professionnelles) et de désamorcer des conflits et ceci dans le respect de chacun.</p>
          <p><span>L’utiliser est un choix délibéré</span> et particulièrement:</p>
          <p>Dans les situations délicates où nous pouvons nous laisser envahir par nos émotions et du coup ne plus être à l’écoute de l’autre, ne plus arriver à nous exprimer clairement , ce qui compromet la relation.</p>
        </div>
        <div class="block2 opacity animated">
          <h2>Ça vient d’où?</h2>
          <p>La méthode R.E.® <span><a href="http://www.nire.org" target="_blank">(Relationship Enhancement)</a></span> a été mise au point aux USA par <span/>Louise et Bernard Guerney</span> dans les années 60.</p>
          <p>Cette méthode a été conçue à l’origine pour les couples et les relations parents/enfants dans un cadre thérapeutique.</p>
          <p>La méthode R.E.® a fait l’objet de plusieurs recherches aux USA. qui ont montré son efficacité, sa rapidité opérationnelle et la durabilité de ses effets. Elle a reçu plusieurs récompenses aux USA pour son caractère innovant et son utilité. Par exemple, elle est agrée dans l’état de Californie pour la formation obligatoire des couples avant le mariage.</p>
          <p>Depuis cette méthode s’est développée à travers le monde, dans environ 70 pays. </p>
          <p>Elle a été introduite en France, par <span><a href="http://www.nicolesarradon.fr/" target="_blank">France Sarradon et Nicole Sarradon</a></span>.</p>
          <p>Nicole Sarradon l’a introduite progressivement dans sa pratique de Psychothérapeute avec les couples et dans sa pratique de consultante en entreprise. Puis elle l’a développé dans la formation des thérapeutes et des sexologues et, particulièrement dans les formations en entreprise à tous les échelons.</p>
          <p><span><a href="http://www.ifre.info" target="_blank">En savoir plus</a></span></p>
        </div>

    </div><!--end of .content-->
    </div><!--end of .container-->
  </div>

  <div class="container-fluid">
    <div class="comments row">
      <div class="comment animated col-12 col-md-6">
        <div class="">
          <p class="quotes-start-orange ">Ce qui m'a marqué c'est que cette méthode s'intéresse non pas à une analyse intellectuelle  d'une situation mais au ressenti émotionnel : elle attache de l'importance à l'expression de notre ressenti et à la perception et au renvoi de celui de notre interlocuteur;</p>
          <p>Quand je me sens comprise, je me détends, cela libère de l'énergie....</p>
          <p class="quotes-end-orange">J'apprécie aussi que le but du RE soit de PRENDRE SOIN d'une relation, cela me touche.</p>
          <p><span>Anne</span></p>
        </div>
      </div>
      <div class="comment animated col-12 col-md-6">
        <div class="">
          <p class="quotes-start-blue">Souvent la communication avec mes enfants adultes était difficile, et ça me rendait triste  d'avoir du mal à être en vraie relation avec eux. </p>
          <p>Il y a quelques années, j'ai participé à un stage RE, et je continue à participer à un atelier de pratique RE. j'y ai appris à savoir dire pour être entendue, à savoir écouter pour que l'autre se sente entendu. La relation avec chacun de mes grands enfants devient plus juste.</p>
          <p>Savoir dire, ça s'apprend !</p>
          <p class="quotes-end-blue">Savoir écouter, ça s'apprend !</p>
          <p >Pour moi, RE est un super outil.</p>
          <p><span>Anne-Marie</span></p>
        </div>
      </div>
    </div>
  </div><!--end of comments-->
</div><!--end of #methode-->

<!--

<h2>Comments { comments| length}}</h2>

<ul>% for comment in comments %}
      <li>{comment}}</li>
    % endfor %}
</ul>
-->



{% endblock %}
