{% extends 'base.html.twig' %}

{% block body %}
    <article>
       <h2>titre de l'article</h2>
       <div class="metadata">Écrit le 4-10-2018 à 19:00 dans la categorie Politique</div>
       <div class="content">
         <img src="https://via.placeholder.com/350x150" alt="">
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ipsam, tempora dolor repellendus ipsa, sunt.</p>
         <p>Corporis repellendus cumque dolore cum atque quaerat, odit perspiciatis, provident, ipsam minima eum iusto saepe.</p>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque praesentium sed repudiandae repellat ipsam sunt, quidem impedit! Architecto doloribus, nam quam maxime dolor doloremque. Tempore neque explicabo ducimus laborum, ullam adipisci porro maxime facilis quod dolorem eligendi officia corporis suscipit veritatis facere mollitia accusantium, commodi assumenda totam consectetur quia. Maxime!</p>
         <p>Magnam voluptate voluptatibus accusantium voluptatum? Voluptatum iusto accusantium labore ipsa voluptas nam beatae animi. At neque consequuntur, aliquam, quod optio perspiciatis accusamus non aliquid pariatur labore laboriosam, quas fugit amet distinctio natus! Qui temporibus quidem vitae voluptas minus officiis illo magni repellat atque, maiores eos, quis fugiat debitis voluptates vero?</p>
     </article>
{% endblock %}
