
//COLORS

$orange: #f36b30; //header
$yellow: #fda403;
$darkblue:	#32414e;  //titles
$lightblue: #576a81; //subtitle
$gray: #434343; //text
$white: #fff;
$purple: #6b0848;
$beige: #fbe7c2;
$blue: #19b0b5;
$footer-gray: #545454;
$rouge: #a40a3c;
$lightgray: #ededed;
$gray-ligne: #bebebe;
$block-gray: #edebeb;

//typography

$lato: 'Lato', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$pacifico: 'Pacifico', cursive;
$kaushan: 'Kaushan Script', cursive;
