h1{
  margin: 90px 0 60px 0;
  @include font(1.625rem, 600, $darkblue);
}
h2{

  @include font(2rem, 400, $yellow);
  margin: 3rem 0 3rem 0;
}
h3{
  @include font(1.125rem, 400, $lightblue);
  line-height: 2.5rem;
}
h5{
  margin: 30px 0 30px 0;
}

header{
  .logonavbar{
    .logo{
      div{
        min-height: 150px;
        width: 150px;
        background: url('../img/logo-modif4.png') $white;
        @include background(contain, no-repeat, center);
      }
    }
  }
}

footer{
  .contact-footer{
    .info-cotact{
      div:nth-child(1){
        display: inline-block;
      }
    }
    .image-footer{

    }
    .links{
      text-align: center;
      border-top: 0px;
      margin-top: 0px;
      padding-top: 0px;
    }
  }
}

.stages-dates{
  width: 700px;
}

//-------- Pages general
#about, #methode, #formations, #contact, #stages, #ateliers,#admin, #email{
.main-image{
  div{
    height: 475px;
    h3{
      font-size: 1.7rem;
      margin: 70px;
    }
  }
}//end of main-image
 .content{
   padding: 0 15px 50px 15px;
 }
 ul{
   li{
     margin: 0 0 1.3rem 4rem;
   }
 }
}

#home{
  .slider{
    div{
      height: 550px;
    }
  }
  h2{
    span{
      @include font(1.6rem, 500, $lightblue);
      margin-top: 60px;
      margin-bottom: 50px;
    }
  }
}

#formations{
  .options{
    .buttons-main{
      margin: 70px;
    }
  }
 h3:nth-child(1){
   padding-top: 30px;
 }
}
