h1{
  margin: 90px 0 60px 0;
  @include font(1.625rem, 600, $darkblue);
}
h2{

  @include font(2rem, 400, $yellow);
  margin: 3rem 0 3rem 0;
}
h3{
  @include font(1.125rem, 400, $lightblue);
  line-height: 2.5rem;
}
h5{
  margin: 30px 0 30px 0;
}

header{
  .logonavbar{
    .logo{
      div{
        min-height: 150px;
        width: 150px;
        background: url('../img/logo-modif4.png') $white;
        @include background(contain, no-repeat, center);
      }
    }
  }
}

footer{
  .contact-footer{
    .info-cotact{
      div:nth-child(1){
        display: inline-block;
      }
    }
    .image-footer{

    }
    .links{
      text-align: center;
      border-top: 0px;
      margin-top: 0px;
      padding-top: 0px;
    }
  }
}

//-------Pages general ---------
.comments{
  margin-top: 100px;
  div{
    padding: 80px 90px 45px 90px;
  }
}

#home{
  .slider{
    div{
      height: 550px;
    }
  }
  h2{
    span{
      @include font(1.6rem, 500, $lightblue);
      margin-top: 60px;
      margin-bottom: 50px;
    }
  }
  .comments{
    margin-top: 100px;
    div{
      padding: 80px 90px 45px 90px;
    }
  }
}


//-------- Pages general
#about, #methode{
.main-image{
  div{
    height: 475px;
    h3{
      font-size: 1.7rem;
      margin: 70px;
    }
  }
 }
 .content{
   padding: 0 15px 50px 15px;
 }
}
//-------- Page qui sommes-nous
#about{


}
